.display-container, .display-info, .display-image {
  display: flex;
}

.display-container, .display-info-city > h6, .display-info-city > h4, .display-image {
  background: transparent;
}

.display-image-container, .display-image-temp {
  min-height: inherit;
  max-height: inherit;
  min-width: 125px;
  max-width: 125px;
}

.display-container {
  width: 100%;
  min-width: 610px;
  max-width: 610px;
  height: 30%;
  max-height: 250px;
  min-height: 210px;
  margin: 0.5rem 0;
  padding: 0.25rem;
}

.display-info {
  flex-direction: column;
  text-align: start;
  flex-grow: 1;
}

.display-info-city > h6,
.display-info-city > h4 {
  padding: 0 0.25rem;
  margin: 0;
}

.display-container h6:last-child {
  text-transform: capitalize;
}

.display-image {
  min-height: 125px;
  max-height: 125px;
  padding: 0.25rem;
  margin-top: 5px;
}

.display-image-container {
  background-size: cover;
  opacity: 0.8;
}

.display-image-temp {
  margin-left: 0.25rem;
  font-size: 5rem;
  font-weight: 500;
  vertical-align: middle;
  text-align: center;
}

.toggle {
  padding-top: 0.8rem;
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: -1px;
  margin-left: -0.25rem;
}

.toggle span:first-of-type:hover, .toggle span:last-of-type:hover {
  font-weight: 800;
  cursor: pointer;
}
