#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  border-radius: 5px;
  color: white;
}

#modal:empty {
  display: none;
}

#modal > div {
  max-width: 500px;
  padding: 15px;
  text-align: center;
}